{% assign curr_entries = 1242 %}
{% assign max_entries = 1500 %}

<div class="barometer" data-signups="{{ curr_entries }}" data-target="{{ max_entries }}" data-formattedsignups="{{ curr_entries }}" data-formattedtarget="{{ max_entries }}">
  <p class="barometer-message"><b><em class="current-number">{{ curr_entries }}</em> of {{ max_entries }}</b> entries in &hellip; don't miss out!</p>
  <div class="bar"><div class="bar-inner">
    <div class="barometer-progress" data-percentage="{{ curr_entries | times: 100 | divided_by: max_entries }}"></div>
   </div></div>
 </div>

