<ul class="sponsors">
  <li><a href="http://www.sip-energy.com/"><img src="/media/sponsors/sip-energy.jpg" alt="SIP Energy" /></a></li>
  <li><a href="http://www.tranquillityleisureandspa.com/"><img src="/media/sponsors/tranquillity.jpg" alt="Tranquillity Gym" /></a></li>
  <li><a href="http://www.rockandroad.ie/"><img src="/media/sponsors/rock-n-road.jpg" alt="Kinvara Rock and Road" /></a></li>
  <li><a href="http://www.amphibianking.ie/"><img src="/media/sponsors/amphibian-king.jpg" alt="Amphibian King" /></a></li>
  <li><a href="http://www.runireland.com/"><img src="/media/sponsors/runireland.jpg" alt="RunIreland" /></a></li>
</ul>
