<ul class="sponsors">
  <li><a href="http://www.igb.ie/galway/"><img src="/media/sponsors/greyhound.jpg" alt="Galway Greyhound Stadium" /></a></li>
  <li><a href="mailto:ja_healy02@yahoo.com"><img src="/media/sponsors/jane-ann.jpg" alt="Jane-Ann Meehan" /></a></li>
  <li><a href="http://www.otto.ie"><img src="/media/sponsors/otto.jpg" alt="Otto Car Parts" /></a></li>
  <li><a href="mailto:ydowling1@gmail.com"><img src="/media/sponsors/dowlings.jpg" alt="Dowling's Pub" /></a></li>
  <li><a href="http://www.connachtaccountancy.com/"><img src="/media/sponsors/connacht-acc.jpg" alt="Connacht Accounting" /></a></li>
  <li><a href="mailto:info@cmaceoinsolrs.ie"><img src="/media/sponsors/colm-maceoin.jpg" alt="Colm McEoin, Solicitor" /></a></li>
  <li><a href="http://www.kevinburketyres.ie/"><img src="/media/sponsors/kevin-burke.jpg" alt="Burke's Tyres" /></a></li>
  <li><a href="http://www.cateringbyobriens.ie/"><img src="/media/sponsors/obriens.jpg" alt="O'Brien's Sandwiches" /></a></li>

  <li><a href="http://www.kearneycycles.com/"><img src="/media/sponsors/kearney-cycles.jpg" alt="Kearney Cycles" /></a></li>
  <li><a href="http://www.rafterysbar.ie/"><img src="/media/sponsors/rafterys.jpg" alt="Raftery's Bar" /></a></li>
  <li><a href="mailto:damienjburke@yahoo.co.uk"><img src="/media/sponsors/damien-burke.jpg" alt="Damien Burke" /></a></li>
  <li><a href="http://www.runireland.com"><img src="/media/sponsors/portumna-100k.jpg" alt="Portumna Marathon" /></a></li>
  <li><a href="http://www.chanellegroup.ie"><img src="/media/sponsors/chanelle.jpg" alt="Chanelle Vetinary" /></a></li>
  <li><a href="http://www.athenryac.com"><img src="/media/sponsors/fields-bar.jpg" alt="Fields Bar" /></a></li>
  <li><a href="http://www.annertech.com/"><img src="/media/sponsors/annertech.png" alt="Annertech" /></a></li>
</ul>
